//  ================================================================================================
//  ? TIP:  It is recommended to use this file for overriding bootstrap variables.
//  ================================================================================================
$gray-25: #fcfcfd;
$gray-300: #d0d5dd;
$gray-400: #98a2b3;
$gray-500: #667085;
$gray-600: #404656;
$gray-900: #101828;
$dark-primary: #171717;
$dark-secondary: #212121;
$light-primary: #ffffff;
$light-secondary: #f9fafb;
$org-theme-color: #fbbf13;
$org-theme-color--low: #fbbf131f;
$success-900: #054f31;
$success-500: #12b76a;
$success-700: #027a48;
$success-50: #ecfdf3;
$black: #000;
$warning-50: #fffaeb;
$warning-700: #b54708;
$warning-900: #7a2e0e;
$warning-500: #f79009;
$theme-dark-input-bg: $dark-primary;
$theme-dark-input-border-color: $gray-600;
$vs-state-active-bg:$org-theme-color--low;
