.wallet-card {
  background: linear-gradient(112.32deg, #1570ef 0%, #1570ef 101.12%);
  backdrop-filter: blur(21px);
  margin-top: 2rem;
  padding: 2rem;
  border-radius: $border-radius;
  display: flex;
  flex-direction: row;
  position: relative;
  overflow: hidden;

  &-1-circle{
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    position: absolute;
    top: -5rem;
    left: 1rem;
    z-index: 1;
    border: 2px solid rgba(255, 255, 255, 0.165);
  }
  &-2-circle{
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    position: absolute;
    top: -8rem;
    left: -2rem;
    z-index: 1;
    border: 2px solid rgba(255, 255, 255, 0.165);
  }
  &-3-circle{
    width: 25rem;
    height: 20rem;
    border-radius: 50%;
    position: absolute;
    top: -8rem;
    left: -2rem;
    z-index: 1;
    border: 2px solid rgba(255, 255, 255, 0.165);
  }
  &-4-circle{
    width: 35rem;
    height: 28rem;
    border-radius: 50%;
    position: absolute;
    top: -8rem;
    left: -2rem;
    z-index: 1;
    border: 2px solid rgba(255, 255, 255, 0.165);
  }
  &-section1 {
    width: 50%;
    z-index: 10;
    
  }
  &-section2 {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    z-index: 10;
  }
  &-wallet-text {
    font-size: 1.428rem;
    font-weight: 600;
    color: $white;
  }
  &-wallet-amount {
    font-size: 1.285rem;
    font-weight: 600;
    color: $white;
    margin-top: 2rem;
  }
  &-sync-pending {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2rem;
    &-heading {
      font-size: 0.857rem;
      font-weight: 400;
      color: $white;
    }
    &-desc {
      font-size: 0.857rem;
      font-weight: 500;
      color: $white;
    }
  }
  &-bttn {
    padding: 0.5rem 1rem;
    border-radius: 6rem;
    background-color: $white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 2.5rem;
    background-color: $blue-800;
    cursor: pointer;
    &-text{
        font-size: 1rem;
        font-weight: 500;
        color: $blue-400;
    }
  }
}
