@import '../../base.scss';

.selectedFile {
  padding: 1rem;
  margin: 1rem 0;
  background-color: $success-25;
  border : 1px solid $success-500;
  border-radius: $border-radius;
  display: flex;
  flex-direction: row;
  align-items: center;
  &-file-img{
    width: 3rem;
    height: auto;
  }
  &-upload-img{
    width: 3rem;
    height: auto;
    margin-left: auto;
  }
  &-content{
    margin-left: 0.5rem;
  }
  &-file-name{
    font-size: 1rem;
    font-weight: 500;
    color: $gray-700;
  }
  &-file-size{
    font-size: 1rem;
    font-weight: 400;
    color: $gray-500;
  }
}
