.organizationSection {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  &-heading {
    font-size: 1.72rem;
    font-weight: 700;
    color: $gray-900;
    margin-top: 5rem;
  }
  &-subheading {
    font-size: 1.1rem;
    font-weight: 400;
    color: $gray-500;
    margin-top: 0.5rem;
  }
  &-category {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &-detail {
    background-color: $gray-100;
    margin-top: 3rem;
    padding: 2rem;
    border-radius: 0.7rem;
    position: relative;
    overflow: hidden;
    &-indicator {
      width: 0.5rem;
      height: 100%;
      // border-radius: 50%;
      display: inline-block;
      position: absolute;
      left: 0;
      top: 0;
      background-color: $primary-500;
    }
    &-text {
      font-size: 1.2rem;
      font-weight: 400;
      color: $gray-500;
    }
  }
  &-button {
    width: 100%;
    margin-top: 4rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }

  @media screen and (max-width: 1344px) {
    padding: 2rem;
    &-heading {
      font-size: 2rem;
    }
    &-subheading {
      font-size: 1.3rem;
    }
    &-card-container {
      width: 100%;
      margin: 0 auto;
      margin-top: 2rem;
    }
    &-category {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
    }
  }

  @media screen and (max-width: 768px) {
    flex-direction: column;
    padding: 0 0rem;

  }
}
