.personalitySection {
  display: flex;
  min-width: 100%;
  flex-direction: column;
  // background-color: red;
  &-sectionDetails {
    display: flex;
    flex-direction: row;
  }
  &-heading {
    font-size: 1.714rem;
    font-weight: 700;
    color: $gray-900;
  }
  &-details {
    font-size: 1.142rem;
    font-weight: 400;
    color: $gray-500;
    margin-top: 1rem;
    span {
      color: $gray-900;
      font-weight: 500;
    }
  }
  &-img {
    width: 1.5rem;
    height: 1.5rem;
    object-fit: contain;
    margin: 0 0.5rem;
  }
  &-section2 {
    margin: 1rem 0;
    border-radius: 1rem;
    background-color: $primary-100;
    display: flex;
    flex-direction: row;
    align-items: center;
    &-img {
      width: 20rem;
    }
    &-content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      padding: 2rem 0;
      &-heading {
        font-size: 1.428rem;
        font-weight: 700;
        color: $primary-700;
      }
      &-details {
        font-size: 1.142rem;
        font-weight: 400;
        color: $gray-500;
        margin-top: 0.3rem;
      }
    }
  }
  &-section3 {
    margin-top: 1rem;
  }
  &-title {
    font-size: 1.285rem;
    font-weight: 600;
    color: $gray-900;
  }
  &-cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &-card {
    display: flex;
    flex-direction: row;
    width: 48%;
    padding: 2rem;
    align-items: center;
    margin: 1rem 0;
    border: $gray-border;
    border-radius: 0.5rem;
    &-img {
    }
    &-title {
      font-size: 1.142rem;
      font-weight: 600;
      color: $gray-600;
      margin-left: 2rem;
    }
    &:hover {
      cursor: pointer;
    }
    &.active {
      background-color: $primary-25;
      border: 1px solid $primary-400;
    }
  }

  &-section4 {
    display: flex;
    flex-direction: row;
    margin-top: 1.5rem;
    justify-content: flex-end;
  }
  &-button {
    font-size: 1.285rem;
    font-weight: 400;
    color: $gray-500;
    margin-left: 2rem;
    &:hover {
      cursor: pointer;
    }
  }
  &-button-primary {
    font-size: 1.285rem;
    font-weight: 400;
    margin-left: 2rem;
    color: $primary-600;
    &:hover {
      cursor: pointer;
    }
  }

  @media screen and (max-width: 768px) {
    &-heading {
      margin-top: 1rem;
    }
  }
  @media screen and (max-width: 425px) {
    &-cardContainer {
      flex-direction: column;
      align-items: center;
    }
    &-card {
      width: 90%;
      &-img {
      }
      &-title {
      }
    }
  }
}

.dark-layout {
  .personalitySection {
    &-details {
      color: $gray-400;
      span {
        color: $gray-200;
      }
    }
    &-section2 {
      background-color: $primary-100;
      &-content {
        &-heading {
          color: $primary-700;
        }
        &-details {
          color: $gray-500;
        }
      }
    }
    &-button-primary {
      color: $primary-600;
    }
  }
}


// * {
//   outline: 1px solid red;
// }